<h2 class="text-center p-4">Tasks list</h2>

<div class="container">
  <div class="text-center mb-4">
    <button
      [routerLink]="['/add-task']"
      type="button"
      class="btn btn-primary mb-4 me-2">
      Add New Task
    </button>
      <button
        (click)="doneSelectedTasks()"
        [disabled]="!selectedTasks.length"
        type="button"
        class="btn btn-success mb-4 me-2">
        Done Selected Tasks
    </button>
      <button
        (click)="deleteSelectedTasks()"
        [disabled]="!selectedTasks.length"
        type="button"
        class="btn btn-danger mb-4">
        Delete Selected Tasks
    </button>
    <hr class="divider">
  </div>

  <app-task-card
    *ngFor="let task of tasks"
    [task] = "task"
    (onDeleteTaskEvent)="deleteTask(task)"
    (onSelectTaskEvent)="tasksSelected($event)">
  </app-task-card>
</div>
