<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-8">
    <div class="card mb-4"
      (click)="redirectToTaskDetails()"
      [ngClass]="{
        'todo': task.state === 'todo',
        'inprogress': task.state === 'inprogress',
        'done': task.state === 'done'
      }">

      <div class="card-body">
        <div class="form-check float-end">
          <input
            type="checkbox"
            class="form-check-input"
            (click)="$event.stopPropagation();"
            [(ngModel)]="task.checked"
            (ngModelChange)="taskSelected($event)">
          <label class="form-check-label" for="flexCheckDefault">
            Select Task
          </label>
        </div>
        <div class="clearfix" style="float:none;"></div>
        <h5 class="card-title">
          <label for="">{{ task?.title }}</label>
          <label class="float-end state">( {{ task?.state }} ) </label>
        </h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Priority:
          {{ task?.priority == 1 ? 'High' : 'Low' }}
        </h6>
        <div class="card-text">
          <p>{{ task?.description }}</p>
          <hr>
          <label class="d-block"> {{ task?.date }} </label>
        </div>
        <div class="actions mt-2">
          <button
            *ngIf="task?.state !== 'done'"
            (click)="$event.stopPropagation(); updateTaskState()"
            type="button"
            class="btn btn-sm me-2"
            [ngClass]="{ 'btn-success': task?.state === 'inprogress', 'btn-warning': task?.state === 'todo'}">
            {{ task?.state === 'inprogress' ? 'Done' : 'Inprogress' }} Task
          </button>
          <button
            (click)="$event.stopPropagation(); deleteTask()"
            type="button"
            class="btn btn-danger btn-sm">Delete Task</button>
        </div>
      </div>
    </div>
  </div>
</div>
