<h2 class="text-center p-4">Add Task</h2>

<div class="container">

  <button type="button" class="btn btn-primary mb-3" [routerLink]="['']">Back</button>

  <form [formGroup]="taskForm">

    <div class="title-section mb-3">
      <label class="form-label">
        Title <label class="required-symbol">*</label>
      </label>
      <input
        [ngClass]="{'required': (isFormSubmitted && taskForm.get('title').invalid) ||
        (taskForm.get('title').invalid && taskForm.get('title').errors) &&
        (taskForm.get('title').dirty || taskForm.get('title').touched)}"
        id="title" formControlName="title" type="text" class="form-control" placeholder="Task Title">

        <app-error
          [taskForm]="taskForm"
          formField="title"
          [isFormSubmitted]="isFormSubmitted">
        </app-error>
    </div>

    <div class="description-section mb-3">
      <label class="form-label">
        Description <label class="required-symbol">*</label>
      </label>
      <textarea
        [ngClass]="{'required': (isFormSubmitted && taskForm.get('description').invalid) ||
        (taskForm.get('description').invalid && taskForm.get('description').errors) &&
        (taskForm.get('description').dirty || taskForm.get('description').touched)}"
        formControlName="description" class="form-control" rows="3" placeholder="Task Description"></textarea>

        <app-error
          [taskForm]="taskForm"
          formField="description"
          [isFormSubmitted]="isFormSubmitted">
        </app-error>
    </div>

    <div class="priority-section mb-3">
      <label  class="form-label">
        Priority <label class="required-symbol">*</label>
      </label>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" value="1" formControlName="priority" class="form-check-input">
          High Priority
        </label>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" value="2" formControlName="priority" class="form-check-input">
          Low Priority
        </label>
      </div>

      <app-error
        [taskForm]="taskForm"
        formField="priority"
        [isFormSubmitted]="isFormSubmitted">
      </app-error>
    </div>

    <div class="state-section mb-3">
      <label  class="form-label">
        State <label class="required-symbol">*</label>
      </label>
      <select
        [ngClass]="{'required': (isFormSubmitted && taskForm.get('state').invalid) ||
        (taskForm.get('state').invalid && taskForm.get('state').errors) &&
        (taskForm.get('state').dirty || taskForm.get('state').touched)}"
        formControlName="state" class="form-select" >
        <option value="todo">Todo</option>
        <option value="inprogress">Inprogress</option>
        <option value="done">Done</option>
      </select>

      <app-error
        [taskForm]="taskForm"
        formField="state"
        [isFormSubmitted]="isFormSubmitted">
      </app-error>
    </div>

    <div class="date-section mb-3">
      <label  class="form-label">
        Delivery Date <label class="required-symbol">*</label>
      </label>
      <div class="input-group">
        <input
          [ngClass]="{'required': (isFormSubmitted && taskForm.get('date').invalid) ||
          (taskForm.get('date').invalid && taskForm.get('date').errors) &&
          (taskForm.get('date').dirty || taskForm.get('date').touched)}"
          formControlName="date"
          class="form-control"
          placeholder="yyyy-mm-dd"
          ngbDatepicker
          #d="ngbDatepicker"
        />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
          </svg>
        </button>
      </div>

        <app-error
          [taskForm]="taskForm"
          formField="date"
          [isFormSubmitted]="isFormSubmitted">
        </app-error>
    </div>



    <button
      class="btn btn-success mb-3 me-3"
      (click)="submitTask()">
      Add Task
    </button>
    <button
      class="btn btn-danger mb-3"
      (click)="clearFormData()">
      Clear
    </button>
  </form>
</div>

