<h2 class="text-center p-4">Task Details</h2>

<div class="container">
  <div class="p-3" style="border: 1px solid #CCCC; width: 50%; margin: auto; border-radius: 10px;">
    <div class="row">
      <div class="col-6 offset-3 p-2">
        <label class="fw-bold me-2">Title:</label>
        <label for="title">{{ task?.title }} </label>
      </div>
    </div>

    <div class="row">
      <div class="col-6 offset-3 p-2">
        <label class="fw-bold me-2">Description:</label>
        <p> {{ task?.description }} </p>
      </div>
    </div>

    <div class="row">
      <div class="col-6 offset-3 p-2">
        <label class="fw-bold me-2">Priority:</label>
        <label for="priority"> {{ task?.priority }} </label>
      </div>
    </div>

    <div class="row">
      <div class="col-6 offset-3 p-2">
        <label class="fw-bold me-2">State:</label>
        <label for="state"> {{ task?.state }} </label>
      </div>
    </div>

    <div class="row">
      <div class="col-6 offset-3 p-2">
        <label class="fw-bold me-2">Date::</label>
        <label for="date"> {{ task?.date }} </label>
      </div>
    </div>

  </div>
</div>
